In [1]:
import os
import pandas as pd

In [2]:
illegal_root = os.path.join('..', 'UvA-Big-Data-group-31', 'illegal')

In [3]:
test_true = pd.read_csv(os.path.join(illegal_root, 'test_not_hidden.csv')).label
validation_true = pd.read_csv(os.path.join(illegal_root, 'validation_not_hidden.csv')).label

In [4]:
test_pred = pd.read_csv(os.path.join('ml', 'predictions', 'test_predictions.txt'), header=None)
validation_pred = pd.read_csv(os.path.join('ml', 'predictions', 'validation_predictions.txt'), header=None)

In [5]:
from sklearn.metrics import accuracy_score

print(accuracy_score(test_true, test_pred))
print(accuracy_score(validation_true, validation_pred))

0.7946593001841621
0.8701570680628272

In [15]:
import duckdb

conn = duckdb.connect('db/unstructured.duckdb', read_only=True)
conn.execute('SELECT * FROM validationdirectors').fetchdf()

         tconst  director_mean
0     tt0003740    3452.000000
1     tt0008663    1882.000000
2     tt0010307    1692.000000
3     tt0014429   19898.000000
4     tt0014429   19898.000000
...         ...            ...
1042  tt9686154    2106.000000
1043  tt9690328   25770.205726
1044  tt9735790    1056.000000
1045  tt9769668    1430.000000
1046  tt9812614    1402.000000

[1047 rows x 2 columns]

In [16]:
conn.close()