In [1]:
import os
import pandas as pd

In [2]:
illegal_root = os.path.join('..', 'UvA-Big-Data-group-31', 'illegal')

In [3]:
test_true = pd.read_csv(os.path.join(illegal_root, 'test_not_hidden.csv')).label
validation_true = pd.read_csv(os.path.join(illegal_root, 'validation_not_hidden.csv')).label

In [4]:
test_pred = pd.read_csv(os.path.join('ml', 'predictions', 'test_predictions.txt'), header=None)
validation_pred = pd.read_csv(os.path.join('ml', 'predictions', 'validation_predictions.txt'), header=None)

In [5]:
from sklearn.metrics import accuracy_score

print(accuracy_score(test_true, test_pred))
print(accuracy_score(validation_true, validation_pred))

0.7946593001841621
0.8701570680628272

In [3]:
import duckdb

conn = duckdb.connect('db/unstructured.duckdb', read_only=True)
conn.execute('SELECT * FROM writing').fetchdf()

           movie     writer
0      tt0003740  nm0195339
1      tt0003740  nm0515385
2      tt0003740  nm0665163
3      tt0003740  nm0758215
4      tt0008663  nm0406585
...          ...        ...
22423  tt9904802  nm0942647
22424  tt9904802  nm3853396
22425  tt9911196  nm2063122
22426  tt9911196  nm0277932
22427  tt9911196  nm3547655

[22428 rows x 2 columns]